*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background: #04080c;
}
button{
    padding: 1.5vw 2.5vw;
    font-size: 5vw;  
    cursor: pointer;
}
main{
    position: relative;
    width: 90vw;
    height: 90vh;
    border: solid .1vw rgba(255, 255, 255, 0.357);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player{
    position: absolute;
    width: 7vw;
    height: 7vw;
    bottom: 0;
    left: 0;
}
.jump{
    animation: jump .5s linear infinite;
    transition: all .1s ease;
    rotate: -50deg;
}
.piper{
    position: absolute;
    width: 7vw;
    height: 8vw;
    bottom: 0;
    right: -10%;
    object-fit: cover;
}
.start{
    animation: movePipe .9s linear infinite;
}
h1{
    position: absolute;
    top: .5vh;
    right: .5vw;
    color: white;
    font-size: 2vw;
}
@keyframes movePipe {
    0%{
        right: -10%;
    }
    100%{
        right: 100%;
    }
}
@keyframes jump {
    0%{
        bottom: 0;
    }
    50%{
        bottom: 50%;
    }
    60%{
        bottom: 50%;
    }
    100%{
        bottom: 0;
    }
}